body {
  margin: 0;
}

.table-container {
  background-color: white;
}

.table-container .rdt_TableRow {
  background-color: lightgray;
}

.table-container .rdt_TableRow:nth-of-type(even) {
  background-color: white;
}


#nav-dropdown {
  color: black;
  font-weight: bold;
  /* background-color: red; */
}

.imagezoom {
  width: auto;
  height: 12rem ; 
  padding: 1.5rem ;
  transition: transform .2s;
}

.imagezoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}