body {
  margin: 0;
}

.table-container {
  background-color: white;
}

.table-container .rdt_TableRow {
  background-color: lightgray;
}

.table-container .rdt_TableRow:nth-of-type(even) {
  background-color: white;
}


#nav-dropdown {
  color: black;
  font-weight: bold;
  /* background-color: red; */
}